parameters:
    level: 6
    paths:
        - config/
        - src/
        - tests/
    tmpDir: /tmp/phpstan
    ignoreErrors:
        # Ignore type assertions in tests that PHPStan already knows
        - identifier: staticMethod.alreadyNarrowedType
        - identifier: method.alreadyNarrowedType