{% apply spaceless -%}

  {% set o = this.options() %}

  {# Slots: default content #}
  {% set slot_content %}{% block content %}{% endblock %}{% endset %}

  {# Content priority: Slot > Prop #}
  {% set has_content = slot_content is not empty %}
  {% set content_html = has_content ? slot_content : (o.message ?? '') %}

  <div class="{{ o.classes }}" {{ this.renderHtmlAttributes(o.attrs) | raw }}>
    {{ content_html|raw }}
    
    {% if o.dismissible %}
      <button type="button" 
              class="btn-close" 
              data-bs-dismiss="alert" 
              aria-label="Close">
      </button>
    {% endif %}
  </div>

{%- endapply %}
